@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-main box-border leading-loose;
  scroll-behavior: smooth;
  transition: all 0.3s ease-in-out;
  font-family: Lato;
  box-sizing: border-box;
}

.btn-yellow {
  @apply px-7 py-2 bg-mainYellow rounded text-mainBlue hover:bg-main hover:text-white cursor-pointer;
}

.btn-white {
  @apply px-7 py-2 bg-white text-mainBlue rounded hover:bg-main hover:text-white cursor-pointer;
}

.btn-main {
  @apply px-7 py-2 bg-mainBlue text-white rounded hover:bg-main cursor-pointer;
}

.btn-card {
  @apply bg-mainBlue rounded text-white hover:bg-main p-2 w-full mt-5 cursor-pointer;
}

.card {
  @apply flex-1 shadow-lg  bg-white p-3 rounded-lg border border-mainBlue flex items-center justify-center text-center cursor-pointer;
}

.card-title {
  @apply text-mainBlue font-bold text-2xl;
}

.card-body {
  @apply text-black leading-loose;
}

.big-title {
  @apply text-mainBlue font-semibold text-xl py-5;
}

.h-card {
  @apply bg-bg flex shadow-lg border border-gray-200 justify-around rounded-lg items-center min-h-fit p-10;
}

.image-hold {
  @apply flex-1 w-full flex justify-center text-center items-center;
}

.card-image {
  @apply object-cover;
}

.h-card-body {
  @apply md:p-10 flex-1 flex flex-col gap-4 items-start flex-wrap;
}

.footer-credit {
  @apply text-white bg-blue-900 text-center text-sm p-2;
}

.btn-group {
  @apply mt-3 flex flex-row items-center justify-center flex-wrap gap-5;
}

.input {
  @apply rounded-sm w-full bg-gray-50 outline border-none outline-none;
}

.form {
  @apply flex gap-3 justify-center items-center p-5 flex-wrap;
}

.quote-text {
  @apply text-2xl font-bold italic;
}

.footer {
  @apply flex w-full justify-center items-center flex-col gap-4 py-7;
}

.copyright {
  @apply text-center font-bold text-sm;
}

.social {
  @apply flex gap-5 p-5;
}

.icon {
  @apply p-3 rounded-md bg-mainBlue text-white;
}

.icon:hover {
  @apply bg-mainYellow text-mainBlue;
}

.text {
  @apply text-black leading-10;
}

.title {
  @apply text-white font-bold text-4xl py-4;
}

.logo {
  @apply flex flex-row gap-2;
}

.page-header {
  @apply bg-mainBlue text-white w-full h-1/2 p-10 py-24 text-center flex justify-center items-center mt-5;
  min-height: 50vh;
}

.page-title {
  @apply font-bold text-5xl mt-5;
}

.list {
  @apply list-disc text-gray-900;
}

.list-item {
  @apply list-inside;
}

.text-button {
  @apply text-mainBlue underline;
}

.team-card {
  @apply flex-1 bg-bg border-2 border-mainBlue border-dotted rounded;
}

.team-image-div {
  @apply w-full h-96 relative bg-main;
}

.team-image {
  @apply object-cover rounded;
}

.image-placeholder {
  @apply absolute top-0 left-0 right-0 bottom-0;
}

.team-name {
  @apply font-bold text-xl text-mainBlue;
}

.team-row {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2 my-2;
}
